<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="/js/form.js" type="text/javascript"></script>
</head>
<body>
    <form id="profileForm" name="profileForm" method="GET">
        <div class="form-group">
            <label for="InputRName">Restaurant Name</label>
            <input type="text" class="form-control" id="InputRName" name="InputRName" placeholder="Enter restaurant name" required>
        </div>
        <div class="form-group">
            <label for="InputStreet">Restaurant Street</label>
            <input type="text" class="form-control" id="InputStreet" name="InputStreet" placeholder="Enter street" required>
        </div>
        <div class="form-group">
            <label for="InputCity">City</label>
            <input type="text" class="form-control" id="InputCity" name="InputCity" placeholder="Enter City" required>
        </div>
        <div class="form-group">
            <label for="InputZip">Zip</label>
            <input type="text" class="form-control" id="InputZip" name="InputZip" placeholder="Enter Zip" required>
        </div>
        <div class="form-group">
            <label for="InputPhoneNum">Phone Number</label>
            <input type="text" class="form-control" id="InputPhoneNum" name="InputPhoneNum" placeholder="Enter phone number" required>
        </div>
        <div class="form-group">
            <label for="InputWebsite">Restaurant Website</label>
            <input type="text" class="form-control" id="InputWebsite" name="InputWebsite" placeholder="Enter restaurant website" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class = "profile">
        {{#if user.isSeller}}
		    <h1><div class="alert alert-danger"> hello,
                 {{user.name}} 
            </div></h1>
            <p>you are a seller, you has a restaurantsID : {{user.restaurantsID}} </p>
            <p>your reviewsID are : {{ user.reviewsID }}</p>
	    {{else}}
            <h1><div class="alert alert-danger"> hello,
                {{user.name}} 
            </div></h1> 
            <p>you are a customer</p>
            <p>your reviewsID are  {{ user.reviewsID }}</p>
        {{/if}}
    </div>
    <p>if you already login, pleast logout to sign up a new account</p>
    <p>go <a class="btn btn-warning login btn-lg" href="/">home</a></p>
    <p>go <a class="btn btn-warning login btn-lg" href="/login">Login</a></p>
	<p>go <a class="btn btn-warning login btn-lg" href="/signup">Signup</a></p>
	<p>go <a class="btn btn-warning login btn-lg" href="/logout">logout</a></p>		

</body>
</html>