<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <div class = "profile">
        {{#if user.isSeller}}
		    <h1><div class="alert alert-danger"> hello,
                 {{user.name}} 
            </div></h1>
            <p>you are a seller, you has a restaurantsID : {{user.restaurantsID}} </p>
            <p>your reviewsID are : {{ user.reviewsID }}</p>
	    {{else}}
            <h1><div class="alert alert-danger"> hello,
                {{user.name}} 
            </div></h1> 
            <p>you are a customer</p>
            <p>your reviewsID are  {{ user.reviewsID }}</p>
        {{/if}}
    </div>
    <p>if you already login, pleast logout to sign up a new account</p>
    <p>go <a class="btn btn-warning login btn-lg" href="/">home</a></p>
    <p>go <a class="btn btn-warning login btn-lg" href="/login">Login</a></p>
	<p>go <a class="btn btn-warning login btn-lg" href="/signup">Signup</a></p>
	<p>go <a class="btn btn-warning login btn-lg" href="/logout">logout</a></p>		

</body>
</html>