<div class="container mt-3">
    <div class="sr-only" id="restFlag"> {{ rest._id }}</div>
    <h4 class="restaurant-name"> {{ rest.name }}</h4>
    <div class="rest row">
        <div class="col-sm-4">
            <img src="/images/{{rest.imgURL}}" alt="{{ rest.name }}" class="w-100 h-75">
        </div>
        <div class="col-sm-4">
            <div class="w-100 h-75">
                <address>
                    <span> {{ rest.address.address1 }}</span><br>
                    <span> {{ rest.address.address2 }} </span> <br>
                    <span> {{ rest.address.city }} </span>
                    <span> {{ rest.address.state }} </span>
                    <span> {{ rest.address.zipcode }} </span> <br>
                </address>
                <div class="contact-info">
                    <span>{{ rest.contactInfo.phoneNum}}</span> <br>
                    <a href="http://{{ rest.contactInfo.website }}">{{ rest.contactInfo.website }}</a>
                </div>
            </div>
        </div>
        <div id="mapString" class="col-sm-4">
            {{ rest.map }}
        </div>
    </div>
    <div>
        <div>
            <button class="btn btn-primary btn-sm my-3 trigger">Make a comment</button>
        </div>
        <form id="commentForm" class="hidden"> 
            <div class="form-group">
                <label for="content" class="sr-only">content</label>
                <textarea name="content" id="content" class="form-control" placeholder="Put your comment here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mb-3">Submit Comment</button>
        </form>
    </div>
    
    <div class="row commentsSection px-3">
        {{#each comments}}
            <div class="shadow-sm p-3 mb-3 bg-white rounded w-100">
                <div class="row">
                    <div class="col-sm-3">
                        <span id="commentName" class="font-weight-bold"> {{ this.peopleWhoComment }}</span>&nbsp;&nbsp;
                        {{#if this.isSeller}} 
                            <button class="btn btn-secondary btn-sm"> Seller </button>
                        {{else }}
                            <button class="btn btn-secondary btn-sm"> Customer </button>
                        {{/if}}
                    </div>   
                    <div class="col-sm-3">
                        <span class="text-muted"> {{ this.time }}</span> 
                    </div>
                </div>
                <hr>
                <span> {{ this.content }} </span> 
            </div>
        {{/each}}
    </div>
    <div class="row dishSection">
        {{#each rest.dishes}}
            <div class="card dish-item mr-sm-3">
                <img class="card-img-top" src="/images/{{this.imgURL}}" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">Calories: {{this.calories}}</p>
                </div>
            </div>
        {{/each}} 
    </div>

</div>